/Assignment2.pdf
/binary_points.csv
/contact_lens_test.csv
/contact_lens_training_1.csv
/contact_lens_training_2.csv
/contact_lens_training_3.csv
/decision_tree_2.py
/knn.py
/weather_test.csv
/weather_training.csv